
.container {
    padding: 32px;
    margin-top: 50px;
}

.deathlist {
    margin-top: 40px;
}

.sidebar {
    margin-top: 50px;
}

li.deathitem {
    padding: 10px;
}

li.left {
    border-left: solid;
    border-width: thin;
    border-color: blue;
}

li.right {
    border-right: solid;
    border-width: thin;
    border-color: red;
}
