
.container {
    padding: 10px;
    margin-top: 50px;
}

.sidebar {
    margin-top: 50px;
}

/* death list */

.deathlist-container {
    font-family: Verdana, Arial, Times New Roman, sans-serif;
}

.deathlist-header {
    background-color:#505050;
    color:#fff;
    font-weight: bold;
    padding: 5px;
}

.deathlist {
    margin-top: 40px;
}

li.deathitem {
    padding: 5px;
}

.even {
    background-color: #F1E0C6;
}

.odd {
    background-color: #D4C0A1;
}

a {
    color: #004294;
}
