{% extends 'layout.html' %}
{% from '_sidebar.html' import render_sidebar %}

{# group deaths within the same day together #}
{% set deathgroups = deathlist|grouped_by('date') %}

{% block sidebar %}
  {{ render_sidebar(deathgroups) }}
{% endblock %}

{% block content %}
  <section>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-64x64">
            <img src="https://static.tibia.com/images/guildlogos/Almighty_Os.gif">
          </figure>
        </div>
        <div class="level-item">
          <p class="title">{{ config['GUILD_A'] }}</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="title">{{ config['GUILD_B'] }}</p>
        </div>
        <div class="level-item">
          <figure class="image is-64x64">
            <img src="https://static.tibia.com/images/community/default_logo.gif">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section>
    {% for date, deathlist in deathgroups %}
    <div class="deathlist">
      <div id="{{ date|format_date }}" class="level">
        <div class="level-left">
          <span class="level-item subtitle is-3">
            {{ date|format_date }}
          </span>
        </div>
        <div class="level-right">
          <span class="level-item subtitle">
            {{ render_score(deathlist) }}
          </span>
        </div>
      </div>
      <div>
        {{ render_deathlist(deathlist) }}
      </div>
    </div>
    {% endfor %}
  </section>
{% endblock %}

{% macro render_deathlist(deathlist) -%}
  {% set color_class = cycler('odd', 'even')%}
  <div class="deathlist-container">
    <div class="deathlist-header">
      Character Deaths
    </div>
    <ul>
      {% for guild, deaths in deathlist|grouped_by('guild') %}
        {% if guild == config['GUILD_A'] %}
          {% set align, color = 'left', 'info' %}
        {% else %}
          {% set align, color = 'right', 'danger' %}
        {% endif %}      
        <li class="{{ align }} deathitem has-text-{{ align }} {{ color_class.next() }}">
          {% for death in deaths %}
            {{ _render_death(death, loop.last) }}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </div>
{%- endmacro %}

{% macro _render_death(death, is_last) -%}
<a href={{ death.char_name|url_for_char }} target="_blank">
    <strong>
      [{{ death.level }}]&nbsp;{{ death.char_name|e }}{% if not is_last -%}{{', '}}{%- endif %}
    </strong>
  </a>
{%- endmacro %}

{% macro render_score(deaths) %}
  {% set deaths_a, deaths_b = deaths|death_count %}
  <span>Death score: {{ deaths_b }} x {{ deaths_a }}</span>
{% endmacro %}
