<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <html lang="pt"></html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include '_analytics.html' %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <title>Lutabra War</title>
</head>
<body>
  <div class="container">
    <div class="columns">
      <div class="column is-2 is-hidden-mobile">
        {% block sidebar %}
        {% endblock %}
      </div>
      <div class="column is-8">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
