{% extends 'layout.html' %}
{% from '_sidebar.html' import render_sidebar %}

{% block sidebar %}
  {{ render_sidebar(deathdict.keys()) }}
{% endblock %}

{% block content %}
  <section>
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-64x64">
            <img src="https://static.tibia.com/images/guildlogos/Almighty_Os.gif">
          </figure>
        </div>
        <div class="level-item">
          <p class="title">Almighty Os</p>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <p class="title">Skeletin Alliance</p>
        </div>
        <div class="level-item">
          <figure class="image is-64x64">
            <img src="https://static.tibia.com/images/community/default_logo.gif">
          </figure>
        </div>
      </div>
    </div>
  </section>
  <section>
    {% for date, deaths in deathdict.items() %}
    <div class="deathlist">
      <div id="{{ date|format_date }}" class="level is-mobile">
        <div class="level-left">
          <span class="level-item subtitle is-3">
            {{ date|format_date }}
          </span>
        </div>
        <div class="level-right">
          <span class="level-item subtitle">
            {{ render_score(deaths) }}
          </span>
        </div>
      </div>
      <hr>
      <ul class="deathlist">
      {% for death in deaths %}
        {{ render_death(death) }}
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>
{% endblock %}

{% macro render_death(death) -%}
  {% if death.guild == config['GUILD_A'] %}
  <li class="has-text-left"> 
      <i class="fas fa-skull-crossbones"></i>
      <span class="tag is-info is-light">{{ death.level }}, {{ death.vocation }}</span>
      <span class="tag is-info is-light is-medium">
        <a href={{ death.char_name|url_for_char }} target="_blank">{{ death.char_name }}</a>
      </span>
  {% else %}
  <li class="has-text-right">
      <span class="tag is-danger is-light is-medium">
        <a href={{ death.char_name|url_for_char }} target="_blank">{{ death.char_name }}</a>
      </span>
      <span class="tag is-danger is-light">{{ death.vocation }}, {{ death.level }}</span>
      <i class="fas fa-skull-crossbones"></i> 
  {% endif -%}
  </li>
{%- endmacro %}

{% macro render_score(deaths) %}
  {% set deaths_a, deaths_b = deaths|death_count %}
  <span>Death score: {{ deaths_b }} x {{ deaths_a }}</span>
{% endmacro %}
